    body {
        background-color: #f8f8f8;
        min-width: 1205px;
    }
    /* 清除浮动元素 */
    .clear-fix:after {
        content: "."; 
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    /* 顶部提醒栏 */
    #top-ad {
        display: none;
        height: 36px;
        background-color: #f3f3f3;
    }
    #top-ad .box {
        width: 1205px;
        margin: 0 auto;
        font: 12px/36px "Microsoft YaHei";
    }
    #top-ad .more {
        float: left;
    }
    #top-ad .more a {
        color: #21a557;
    }
    #top-ad .more a {
        color: #21a557;
    }
    #top-ad .more a:hover {
        text-decoration: underline;
    }
    #top-ad .close {
        float: right;
    }
    #top-ad .close span {
        font-size: 18px;
        line-height: 1;
        vertical-align: text-bottom;
    }
    #top-ad .close:hover {
        color: #21a557;
    }
    /* 导航栏 */
    #nav {
        height: 95px;
        background-color: #fff;
    }
    .nav-box {
        width: 1205px;
        margin: 0 auto;
    }
    .nav-logo {
        float: left;
        margin-top: 36px;
        margin-left: 1px;
    }
    /* 关注按钮 需修改 */
    .nav-focus {
        display: block;
        float: left;
        margin-left: 31px;
        margin-top: 36px;
        padding: 0 9px;
        font: 12px/21px "宋体";
        color: #fff;
        background-color: #21a557;
        border-radius: 2px;
    }
    .nav-focus > em {
        font-weight: 700;
        font-size: 14px;
        margin-right: 5px;
    }
    .nav-focus:hover {
        background-color: #2fb556;
        color: #fff;
    }
    .nav-fans {
        float: left;
        margin-left: 14px;
        margin-top: 36px;
        font: 12px/21px "宋体";
        color: #666;
    }
    /* 导航栏右边菜单 */
    .nav-menu {
        float: right;
    }
    .nav-menu > a {
        float: left;
        margin-right: 54px;
        font: 16px/90px "Microsoft YaHei";
        color: #666;
    }
    .nav-mooc {
        margin-right: 30px;
    }
    .nav-menu > a:hover {
        color: #39a030;
    }
    .nav-search {
        float: left;
        width: 19px;
        height: 19px;
        margin-top: 37px;
        background: url(../img/icon.png) 0 -85px no-repeat;
        margin-right: 15px;
    }
    .nav-search:hover {
        background-position: -19px -85px;
    }
    /* 轮播图 */
    #index-banner {
        position: relative;
        height: 460px;
        background-color: #fff;
        overflow: hidden;
    }
    #index-banner .banner-box {
        position: absolute;
        width: 1652px;
        height: 460px;
        left: 50%;
        margin-left: -826px;
    }
    #index-banner .item {
        display: none;
    }
    #index-banner .active {
        display: block;
        /* 用调整margin-left的方式来做动画 */
        /* margin-left: 100%; */
    }
    #index-banner .pointer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -26px;
    }
    #index-banner .pointer i {
        display: block;
        float: left;        
        width: 10px;
        height: 10px;
        background: url(../img/icon.png)  -32px -105px no-repeat;
        cursor: pointer;
    }
    #index-banner .pointer i.current {
        background: url(../img/icon.png)  -21px -105px no-repeat;
    }
    #index-banner .pointer i + i {
        margin-left: 11px;
    }
    /* 主页网站推广 */
    .index-promotion {
        background-color: #fff;
        height: 295px;
    }
    .promotion-box {
        width: 1205px;
        margin: 0 auto;
    }
    .promotion-item {
        position: relative;
        float: left;
        width: 243px;
        padding: 0 10px 0 100px;
        margin: 60px 0 0 5px;
    }
    .promotion-item + .promotion-item {
        margin-left: 70px;
    }
    .promotion-item h2 {
        font: 22px "Microsoft YaHei";
        color: #333;
    }
    .promotion-item p {
        margin-top: 10px;
        font: 14px/24px "Microsoft YaHei";
        color: #666;
    }
    .promotion-item p a {
        color: #39a030;
    }
    .promotion-item p a:hover {
        text-decoration: underline;
    }
    .promotion-item .logo {
        position: absolute;
        left: 0;
        top: 5px;
        width: 80px;
        height: 80px;
    }
    .promotion-item .logo1 {
        background: url(../img/icon.png) 0 0 no-repeat;
    }
    .promotion-item .logo2 {
        background: url(../img/icon.png) -85px 0 no-repeat;
    }
    .promotion-item .logo3 {
        background: url(../img/icon.png) -170px 0 no-repeat;
    }
    /* 多列图 */
    .m-column {
        position: relative;
        height: 220px;
        overflow: hidden;
    }
    .m-column .container {
        position: absolute;
        width: 1620px;
        left: 50%;
        margin-left: -810px;
    }
    .m-column .box{
        position: relative;
        float: left;
        width: 320px;
        height: 220px;
        padding: 2px;
        overflow: hidden;
    }
    .m-column .box img {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    /* 主内容区域 */
    #main {
        width: 1205px;
        margin: 80px auto 170px;
    }
    /* 左侧 */
    .main-content {
        float: left;
        width: 960px;
    }    
    /* lesson Tab菜单 */
    .m-lessontab {
        width: 400px;
        box-shadow: 0 1px 1px 1px #d4d3d3;
    }
    .m-lessontab li{
        float: left;
        width: 200px;
        height: 50px;
        font: 20px/51px "Microsoft YaHei";
        text-align: center;
        background-color: #fff;
        color: #666;
        cursor: pointer;
    }
    .m-lessontab .current, .m-lessontab li:hover{
        background-color: #39a030;
        color: #fff;
    }
    /* lesson 课程信息 */
    .m-lessonlist {
        margin-top: 30px;
    }
    .m-lessonlist .col {
        float: left;
    }
    .m-lessonlist .col + .col{
        margin-left: 20px;
    }
    .m-lessonlist .item {
        display: block;
        position: relative;
        width: 225px;
        height: 228px;
        background-color: #fff;
        outline: 1px solid #f1f1f1;
    }
    .m-lessonlist .item:hover {
        box-shadow: 0 3px 4px 1px #e6e6e6;
    }
    .m-lessonlist .item + .item {
        margin-top: 20px;
    }
    .m-lessonlist .item img {
        padding: 1px 1px 0 1px;
        width: 223px;
        height: 124px;
    }
    .m-lessonlist .item .text {
        margin-top: 10px;
        padding-left: 5px;
    }
    .m-lessonlist .item-text{
        margin-top: 10px;
        font: 12px/1 "Microsoft YaHei";
    }
    .m-lessonlist .item .title {
        width: 220px;
        font: 12px/13px "Microsoft YaHei";
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #333;
    }
    .m-lessonlist .item:hover .title {
        color: #39a303;
    }
    .m-lessonlist .item .auth {
        color: #999;
    }
    .m-lessonlist .item .num {
        display: inline-block;
        height: 16px;
        padding-right: 3px;
        font: 12px/16px Aril;
        text-indent: 17px;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #999;
        background: url(../img/icon.png) -238px -85px no-repeat;
    }
    .m-lessonlist .item .price {
        color: #ff3f00;
        font-weight: 700;
    }
    /*课程信息浮动框*/
    .m-lessonflow {
        /*display: none;*/
        position: absolute;
        z-index: 998;
        top: -10px;
        left: -10px;
        width: 479px;
        height: 238px;
        background-color: #fff;
    }
    .m-lessonflow img{
        float: left;
        margin: 10px 0 0 10px;
    }
    .m-lessonflow .flow-text {
        float: left;
        margin: 15px 0 0 18px;
    }
    .m-lessonflow .description {
        box-sizing: border-box;
        height: 83px;
        padding: 15px 30px 0 21px;
        margin-top: 20px;
        font: 14px/24px "Microsoft YaHei";
        color: #666;
        background-color: #f8f8f8;
    }
    /* 右侧边栏 */
    .main-side {
        float: right;
        width: 225px;
    }
    /* 2.机构介绍 */
    .m-organization, .m-rank{
        font: 14px/1 "Microsoft YaHei";
        color: #666;
        border: 1px solid #ecebeb;
        border-width: 0 1px 1px 1px;
        background-color: #fff;
    }
    .m-organization .title, .m-rank .title{
        padding: 19px 20px 20px;
        font: 16px/1 "Microsoft YaHei";
        color: #333;
        border-bottom: 1px solid #ddd;
    }
    .m-organization .video-box, .m-rank .rank-box{
        padding: 20px;
        border-bottom: 1px solid #d4d3d3;
    }
    .m-organization .video{
        margin-top: 9px;
    }
    .m-rank {
        margin-top: 19px;
    }
    /*以上的代码可复用可修改HTML的CLASS类*/
    /* 3.最热排行 */
    /* 页脚 */
    #footer {
        background-color: #2c3339;
        height: 262px;
    }
    .footer-box {
        width: 960px;
        margin: 0 auto;
    }
    .footer-information {
        float: left;
        margin: 92px 0 0 5px;
    }
    .footer-information .logo {
        width: 234px;
        height: 22px;
        margin-bottom: 30px;
        background: url(../img/icon.png) 0 -117px no-repeat;
    }
    .footer-information p {
        font: 12.5px "Microsoft YaHei";
        color: #bebfc0;
    }
    .footer-information p + p {
        margin-top: 12px;
    }
    .footer-hotlink {
        float: right;
        margin: 75px 5px 0 0;
    }
    .footer-hotlink dl {
        float: left;
    }
    .footer-hotlink dl + dl {
        margin-left: 100px;
    }
    .footer-hotlink dt {
        font: 12.5px/2 "Microsoft YaHei";
        color: #bebfc0;
    }
    .footer-hotlink a {
        font: 14.5px/2 "Microsoft YaHei";
        color: #bebfc0;
    }
    .footer-hotlink a:hover {
        text-decoration: underline;
    }
    .footer-hotlink .weibo {
        position: relative;
    }
    .footer-hotlink .weibo-logo {
        position: absolute;
        top: 8px;
        left: 40px;
        width: 20px;
        height: 16px;
        background: url(../img/icon.png) -39px -85px no-repeat;
    }
    /* 媒体检测 */
    @media screen and (max-width: 1205px) {
        #top-ad .box {
            width: 960px;
        }
    }